/* Global Variables */

$light-gray: #eef0f1;
body{
    background-color: $light-gray;
}
main{
    margin-top: 56px;
    padding: 1rem;
}

h4:hover, li:hover, p:hover{
    color: blue;
}


/* Header */
header{
    background-color: white;
    height: 56px;
}


/*
.nav-logo{
    width: 60px;
    height: 50px;
    margin: 1em;
    border-radius: 6px;
}

.btn-nav{   
    background-color: none;
    color: blue;
    font-weight: bold;
    display: flex;
}

.btn-nav2{
    background-color: blue;
    color: white;
    font-weight: bold;
}

.dropdown-menu-class{
    position: absolute;
    right: 1rem;
    z-index: 1;
    background: beige;
    padding: 1rem;
}*/
/* End of Header */

/* Sidebar */

/* End of Sidebar */

/* Aside Left */

/* End of Aside Left */

/* Main */

/* End of Main */

/* Aside Right */
.a-r-img{
    height: 500;
    width: 124;
    margin-bottom: 15px;
}

.arrow {
    width: 30px;
  }
  
  .line {
    margin-top: 14px;
    width: 10px;
    background: blue;
    height: 10px;
    float: left;
  }
  
  .point {
    width: 0;
    height: 0;
    border-top: 20px solid transparent;
    border-bottom: 20px solid transparent;
    border-left: 30px solid blue;
    float: right;
  }

.btn-new{
    background-color: blue;
    border-radius: 8px;
    width: 15%;
    margin-left: 1em;
    color: white;
    font-size: small;
}




/* End of Aside Right */

/* Footer */

footer{
    flex-direction: column;
    justify-content: center;
    align-items: center;
    
}

a{
    padding: 10px;
}

.bg-gray{
    background-color: rgb(210, 214, 219);
}

span{
    font-weight: bold;
}
/* End of Footer */
