/* Global Variables */

$light-gray: #eef0f1;
body{
    background-color: $light-gray;
}
main{
    margin-top: 56px;
    padding: 1rem;
}
/* Header */

/* End of Header */

/* Sidebar */

/* End of Sidebar */

/* Aside Left */

/* End of Aside Left */

/* Main */

/* End of Main */

/* Aside Right */

/* End of Aside Right */

/* Footer */

/* End of Footer */
